<div class="form-style">
	<h5> Need some work done?</h5>
	<h6>Tell me a bit about what you need and I'll get back to you with a quote!</h6>
<form name="contact-form" method="POST" netlify>
	<p>
		<input type="text" name="name" placeholder="Name" style="width:100%;" />
	</p>
	<p>
		<input type="email" name="email" placeholder="Email" style="width:100%;" />
	</p>
	<p>
		<input type="textarea" name="request" placeholder="Request Info" style="width:100%; height:50px;"/>
	</p>
	<p>
		<button type="submit">Submit Request</button>
	</p>
</form>
<br><br>
<a href="/"><-- Go Back</a>
</div>

